
    .content {
        height: 100%;
        padding-top: 70px;
    }

    .teenager {
        background-color: #3c763d;
    }

    .older {
        background-color: #a94442;
    }

  .container1{
    padding-top: 8rem;
  }
