<div class="container container1">
    <form class="row" ng-submit="$ctrl.add($ctrl.student)">

        <div class="form-group col-md-2">
            <input type="text" class="form-control" placeholder="First Name" ng-model="$ctrl.student.name">
        </div>

        <div class="form-group col-md-2">
            <input type="text" class="form-control" placeholder="Last Name" ng-model="$ctrl.student.lastname">
        </div>

        <div class="form-group col-md-2">
            <input type="text" class="form-control" placeholder="Age" ng-model="$ctrl.student.age">
        </div>

      <select ng-model="$ctrl.student.promotion" class="form-group col-md-2">
                <option ng-repeat="promotion in $ctrl.promotion" value="{{student.promotion_.id}}">{{promotion.name}}</option>
      </select>

        <div class="form-group col-md-2">
            <button type="submit" class="form-control" name="button">Add</button>
        </div>
  </form>

    <table class="table table-stripped">
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Second Name</th>
            <th>Age</th>
            <th>Promotion</th>
        </tr>
        <tr ng-repeat="student in $ctrl.students">
            <td>{{$index}}</td>
            <td>
              <span ng-if="!student.editMode">{{student.name}}</span>
              <input ng-if="student.editMode" type="text" name="name" ng-model="student.name">
            </td>

            <td>
              <span ng-if="!student.editMode">{{student.lastname}}</span>
              <input ng-if="student.editMode" type="text" name="lastname" ng-model="student.lastname">
            </td>

            <td>
              <span ng-if="!student.editMode">{{student.age}}</span>
              <input ng-if="student.editMode" type="text" name="age" ng-model="student.age">
            </td>


             <td>
               <span ng-if="!student.editMode">{{student.promotion}}</span>
                <select ng-if="student.editMode" class="col-md-8" ng-model="$ctrl.student.promotion">
                    <option ng-repeat="promotion in $ctrl.promotion" value="{{student.promotion.name}}">{{promotion.name}}</option>
                    <option value="">{{student.promotion.name}}</option>
              </select>
            </td>

    <!-- <td ng-class="{'teenager':student.age<27, 'older': student.age>=27}">{{student.age}}</td>-->


              <td>
                  <button type="button" name="button" ng-click="$ctrl.delete(student, $index)">Delete</button>
                  <button type="button" name="button" ng-click="$ctrl.edit(student)">{{ (student.editMode ? 'Validate' : 'Edit')}}</button>
                  <button type="button" name="button" ng-if="student.editMode" ng-click="$ctrl.cancel(student, $index)"> Cancel </button>
            </td>
        </tr>
    </table>

</div>
